
<header class="p-2 mb-1 border-bottom">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-between nav-cnt">
      <span class="d-flex align-items-center mb-2 mb-lg-0 text-dark me-auto text-decoration-none">
        <img src="../assets/img/logo.png" class="img-fluid navbar-logo">
      </span>

      <ul class="nav col-12 col-md-auto justify-content-center mb-md-0 px-2">
        <li><a routerLink="/dashboard" class="nav-link px-2 link-secondary">Dashboard</a></li>
      </ul>

      <div class="dropdown text-end">
        <span class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon width="32" height="32" class="rounded-circle">account_circle</mat-icon>
        </span>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Akhil Madutha</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
