.btn-icon{
    background-color: transparent;
    border: 0;
    position: relative;
.mat-icon {
    height: 100%;
    width: 100%;
}
.menu-icon{
    margin-top: 5px;
    font-size: 45px;
    text-align: center;
    color: #024966;
}
}









